
.flag_hit{
    background-image: url("../assets/images/flag_blue.png");
}

.flag_sale{
    background-image: url("../assets/images/flag_red.png");
}
.flag{
    height: 103px;
    width: 89px;
    z-index: 1;
    top: -10px;
    right: 10%;  
    position: absolute;
    text-align: center;
}


.flag__info{
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 30px;
    line-height: 18px;
}