.text{
  font-family: "Montserrat";
  font-weight: 400;
}

.text_head{
  font-family: "Roboto Slab";
  font-weight: 400;
}

.text_size_l{
  font-weight: 600;
}

.text_color_aqua{
  color: #00a2dd;
}

.text_color_downriver{
  color: #0d3351;
}


.text_color_chateau{
  color:#98a4ad;
}
