$img: __image
$name: __name

@mixin myfont($font_size, $letter_spacing, $line_height)
    font-size: $font_size
    letter-spacing: $letter_spacing
    line-height: $line_height

.card
    position: relative
    background-color: #ffffff

    &#{$img}
        height: auto
        width: 100%

    &#{$img}_average
        object-fit: cover
        object-position: 100% 35%
        width: 100%
        height: 215px

    &#{$img}_small
        object-fit: cover
        object-position: 100% 55%
        width: 100%
        height: 113px

    &__info
        margin-left: 40px
        @include myfont(inherit, 1px, 24px)

    &#{$name}
        @include myfont(18px, 1px, 48px)

        &::after
            content: "\ea1c"
            font-family: "icomoon"
            margin-left: 8px
            font-size: 10px
            cursor: pointer

    &__paragraph
        @include myfont(13px, 1px, 17px)

    &__price
        font-size: 30px
        line-height: 48px

    &__sale
        font-size: 18px
        text-decoration: line-through

@media screen and (min-width: 900px) and (max-width: 1280px)
    .card
        &#{$img}
            height: 272px

        &#{$name}
            line-height: 0px
            font-weight: 400

        &__info
            margin: 30px 10px 10px 30px

@media only screen and (max-width: 900px)
    .card
        &#{$img}
            height: 229px

        &#{$name}
            line-height: 0px
            font-weight: 400

        &__info
            margin: 30px 10px 10px 25px