@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face{
    font-family: "icomoon";
    src: url('../fonts/icomoon.woff') format('woff');
}
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v11/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISma2RjRdE.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }


body, html{
    margin: 0px;
}

.header{
    height: 648px;
    background-image: url("../images/soch.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__menu{
    display: flex;
    line-height: 48px;
    flex-wrap: wrap;
    flex-direction: row;
}

.test{
    display: flex;
    flex-direction: row;
    margin-left: 38%;
}

.menu_item, .menu_info{
    font-size: 14px;
    margin-left: 60px;
    letter-spacing: 1px;
    color: #0d3351;
    font-family: "Montserrat";
    font-weight: 600;
    text-align: center;
}

.menu_info{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.menu_phone{
    font-size: 14px;
    font-weight: 700;
}

.menu_phone_descr{
    font-size: 9px;
    letter-spacing: -0.5px;
    margin-top: -30px;
    font-weight: 400;
}

.profile::before{
    content: "\e900";
    font-family: "icomoon";
    font-size: 12px;
    color: #33c7fd;
    margin-right: 5px;
}

.menu_item::after{
    content: "\ea1c";
    font-family: "icomoon";
    font-size: 9px;
    margin-left: 5px;
    color: #0d3351;
}

.currency::before{
    content: "\e902";
    font-family: "icomoon";
    font-size: 13px;
    margin-right: 5px;
    color: #33c7fd;
}

.menu_icon{
    margin-left: 8%;
}

.dropdown__menu {
    margin-top: -15px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 420px;
    height: 413px;
    background-color: #0d3351;
}

.dropdown__list {
    margin: 50px 0px 30px 30px;
}

.dropdown__list a{
    margin-bottom: 20px;
    display: flex;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Roboto Slab";
    font-weight: 400;
    text-decoration: none;
}

.menu_icon::before{
    content: "\e901";
    font-family: "icomoon";
    font-size: 15px;
}

.menu_icon:hover .dropdown__menu {
    display: block;
}

.header__content{
    margin-top: 30px;
    text-align: center;
}

.header__content p {
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 10px;
    color: #0d3351;
    font-family: "Roboto Slab";
    font-weight: 400;
    text-align: center;
}

.header__content h2 {
    font-size: 100px;
    letter-spacing: -2px;
    line-height: 10px;
    color: #0d3351;
    font-family: "Roboto Slab";
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.header__button{
    margin-top: 0px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 48px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
    width: 202px;
    height: 47px;
    background-color: #33c7fd;
    border: none;
    outline:none;
}

.header__button:hover{
    background-color: #13b0e9;
}

.header__button:active{
    background-color: #64d6ff;
    border: none;
}

/*tablet*/
@media screen and (min-width: 900px) and (max-width: 1280px) {
    .test{
        display: flex;
        flex-direction: row;
        margin-left: 18%;
    }

    .header__content p {
        font-size: 26px;
    }

    .header__content h2 {
        font-size: 72px;
    }
}

/*phone*/
@media screen and (max-width: 900px) {
    .header{
        height: 599px;
    }

    .menu_icon{
        margin-left: 3%;
    }

    .test{
        display: none;
    }

    .header__content{
        margin-top: -10px;
        text-align: center;
    }

    .header__content p {
        font-size: 20px;
    }

    .header__content h2 {
        font-size: 50px;
        letter-spacing: -1px;
    }

    .header__content h2 span {
        width: 100%;
        flex-direction: column;
        display: inline-block;
        margin-bottom: 30px;
    }

    .header__button{
        margin-top: 0px;
    }
}
  